<h1>Noticias</h1>
<% if user_signed_in? %>
      <% if current_user.role == 'admin' %>
          <%= link_to 'crear noticia', new_news_article_path , class: 'btn btn-success'%>
      <% end %>
<% end %>

<div id="news_articles" > 
  <% @news_articles.each do |news_article| %>
      <%= render news_article %>
      <div class="container mt-5">
          <%= link_to "mostrar noticia", news_article, class: "btn btn-primary" %>
      </div>
  <% end %>

</div>




